body
{
	font-family: Helvetica, Georgia;
	color: #0E402D;
	background-color: #9DAD6F;
	margin-left: 100px;
	margin-right: 100px;
}
nav
{
	padding-top: 20px;
	text-align: center;
	padding-bottom: 20px;
	border-bottom: solid;
}
a
{
	text-decoration: none;
	color: #0E402D;
	font-weight: bold;
	font-size: 20px;
}
a:hover
{
	text-decoration: underline;
	color: #1d7452;
}
figure
{
	text-align: center;
}
figcaption
{
	font-style: italic;
	font-size: 15px;
}
/*Designs for banner classes*/
.bannerimage
{
	width: 450px;
	height: 300px;
}
.bannertext
{
	padding-left: 30px;
	padding-right: 30px;
}
.bannerbox
{
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: solid;
	border-bottom: solid;
}
.bannerimagebox
{
	padding-top: 20px;
	flex-basis: 30%;
	padding-bottom: 20px;
}
.bannercaption
{
	font-size: 15px;
}
/*end of header classes*/
.navbardesign
{
	padding-right: 10px;
}
.signupbutton
{
	position: relative;
	background-color: #F0E2E7;
	border-radius: 5px;
	border: 3px solid black;
}
/*End of navbar designs*/
/*Designs for textboxs on homepage*/
.textblock
{
	background-color: #F0E2E7;
	width: 550px;
	position: relative;
	border: solid;
	margin-top: 20px;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
	width: 550px;
	height: 150px;
}
.righttextblock
{
	background-color: #F0E2E7;
	position: relative;
	width: 550px;
	border: solid;
	margin-top: 20px;
	padding-top: 2px;
	padding-left: 5px;
	left: 770px;
	width: 550px;
	height: 150px;
}
/*end of textbox deisgns for homepage*/
/*classes for gallery on homepage; source: https://www.w3schools.com/css/css_image_gallery.asp*/
div.gallery
{
	margin: 5px;
	float: left;
	width: 180px;
}
div.gallery:hover
{
	border: 1px solid #777;
}
div.gallery img
{
	width: 100%;
	height: auto;
}
/*end of gallery classes*/
/*Slideshow classes for event page; source: https://www.w3schools.com/howto/howto_js_slideshow.asp*/
* {box-sizing: border-box;}
.slideshow-container
{
	max-width: 1000px;
	position: relative;
	margin: auto;
}
.myslides
{
	display: none;
}
.prev, .next
{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
.next
{
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover
{
	background-color: rgba(0,0,0,0.8);
}
.text
{
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}
.numbertext
{
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
.dot
{
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover
{
	animation-name: fade;
	animation-duration: 1.5s;
}
@keyframes fade
{
	from {opacity: 0.4;}
	to {opacity: 1;}
}
/*End of slideshow classes*/