<nav>
    <a href="https://webpages.charlotte.edu/bxiong11" target="_blank">Charlotte.edu</a> 🌟 
    <a href="https://github.com/Zorope" target="_blank">Github</a> 🌟
    <a href="https://Zorope.github.io/" target="_blank">Github.io</a> 🌟		    
    <a href="https://Zorope.github.io/itis3135/" target="_blank">ITIS 3135 Github Pages</a> 🌟		    
    <a href="https://www.freecodecamp.org/Bryan_Xiong/" target="_blank">freeCodeCamp</a> 🌟
    <a href="https://jsfiddle.net/user/bxiong1/" target="_blank">JSFiddle</a> 🌟
    <a href="https://www.codecademy.com/profiles/bryanXiong4725122161" target="_blank">Codecademy</a> 🌟
    <a href="stuff/MeWEBsiTe🎃.htm" target="_blank">Crappy</a> 🌟
    <a href="https://www.linkedin.com/in/bryan-xiong-5a55bb201/" target="_blank">LinkdIn</a>
</nav>
<p>Page brought to you by <a href = "xiongcreations.com">Xiong's Creations ©2022</a></p>
<p>
    <a href="https://validator.w3.org/check?uri=referer">
        <img src="images/button_validation_html5.png" width="88" height="31" alt="Link to HTML validator">
    </a>
    <a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img src="images/button_validation_css.png" width="88" height="31" alt="Link to CSS validator">
    </a>
</p>