    <nav>
        <a href="index.html">Home</a> 🌟
        <a href="introduction.html">Introduction</a> 🌟 
        <a href="contract.html">Contract</a> 🌟 
        <a href="tables.html">Tables</a> 🌟 
        <a href="forms.html">Forms</a> 🌟 
        <a href="brand-burgundy-xeruses.html">Brand</a> 🌟 
        <a href="website_evaluations.html">Website Evaluations</a> 🌟 
        <a href="firstscripts.html">First Script</a> 🌟 
        <a href="name-polygon.html">Polygon Namer</a> 🌟 
        <a href="arrays.html">Salary</a> 🌟 
        <a href="calculator_try.html">Calculator Try</a> 🌟 
        <a href="calculator_fcc.html">Calculator Tutorial</a> 🌟 
        <a href="slideshow.html">Slideshow</a> 🌟 
        <a href="project_design.html">Project Design</a> 🌟 
        <a href="project/index.html">Project Site</a> 🌟 
        <a href="peer-evaluations.html">Peer Review 1 (and 2)</a> 🌟
        <a href="xiong-Activity10.html">Activity10</a> 🌟 
        <a href="xiong-Activity11.html">Activity11</a> 🌟 
        <a href="xiong-Activity12.html">Activity12</a> 🌟 
        <a href="xiong-Activity13.html">Activity13</a> 🌟 
        <a href="xiong-Activity14.html">Activity14</a> 🌟 
        <a href="xiong-Activity15.html">Activity15</a>
    </nav> 