    <nav>
        <a href="index.html">Home</a> 🌟
        <a href="introduction.html">Introduction</a> 🌟 
        <a href="contract.html">Contract</a> 🌟 
        <a href="tables.html">Tables</a> 🌟 
        <a href="forms.html">Forms</a> 🌟 
        <a href="brand-burgundy-xeruses.html">Brand</a> 🌟 
        <a href="website_evaluations.html">Website Evaluations</a> 🌟 
        <a href="firstscripts.html">First Script</a> 🌟 
        <a href="name-polygon.html">Polygon Namer</a> 🌟 
        <a href="arrays.html">Salary</a> 🌟 
        <a href="calculator_try.html">Calculator Try</a> 🌟 
        <a href="calculator_fcc.html">Calculator Tutorial</a>    
    </nav>